{% extends "base.html.twig" %}

{% block body %}
    {% for post in posts %}
        <p><a href="{{ path('blog_read', {'id': post.id}) }}">{{ post.title }}</a></p>
    {% endfor %}
    
    <ul class="pagination">
        {% for page in range %}
            <li class="page-item">
                <a href="{{ path('blog_home', {"page" : page}) }}" class="page-link">
                    {{ page }}
                </a>
            </li>
        {% endfor %}        
    </ul>
{% endblock %}
